* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-size: 1vw;
    width: 100%;
    height: 100%;
}

@mixin grid_area_setting($grid_area, $back_img){
    grid-area: $grid_area;
    background-image: url(#{$back_img});
    background-size: cover;
    background-position: center;
}
main{
    padding: 2rem 13rem;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.7rem;
    grid-template-rows: 63% 1fr;
    grid-template-columns: 32% repeat(3, 1fr);
    grid-template-areas: "img1 img2 img2 img2"
                         "img1 img3 img4 img5";

    section:nth-child(1){
        @include grid_area_setting(img1,  "./assets/1.jpg");
    }
    section:nth-child(2){
        @include grid_area_setting(img2,  "./assets/2.jpg");
    }
    section:nth-child(3){
        @include grid_area_setting(img3, "./assets/3.jpg");
        
    }
    section:nth-child(4){
        @include grid_area_setting(img4,  "./assets/4.jpg");
        
    }
    section:nth-child(5){
        @include grid_area_setting(img5, "./assets/5.jpg");

    }

}


@media (max-width: 530px) {
    main{
    grid-template-rows: repeat(5, 60%);
    grid-template-columns:  1fr;
    grid-template-areas: "img1"
                          "img2"
                          "img3"
                          "img4"
                          "img5";
    
}
}