@font-face {
    font-family: "satoshi";
    src: url(./fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: "chillax";
    src: url(./fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: "roboto";
    src: url(./fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

@mixin flex($justify: 'flex-start', $align: 'stretch', $direction: 'row') {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #121212;
}

html {
    font-size:  clamp(14px, 1.5vw, 18px);
}

#main {
    // padding: 1rem;
    width: 100%;
    height: 100%;
    @include flex(start, center, column);

    nav {
        padding: 1rem;
        font-size: .9rem;
        width: 100%;
        @include flex(space-between, center);
        max-width: 1920px;

        .navleft img {
            width: 3.7rem;
        }

        .navright {
            display: flex;
            gap: 0.4rem;

            .hide_below_990 {
                display: none;
            }

            a {
                font-family: roboto, sans-serif;
                text-decoration: none;
                color: white;
                padding: 1rem 1.3rem;
                background-color: #2A2A2A;
                border-radius: .6rem;

                span:nth-child(2) {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: black;
                    width: 1rem;
                    height: 1rem;
                    background-color: #CEBD63;
                    border-radius: 50%;
                }
            }

            .getintouch {
                display: none;
                background-color: #CEBD63;
                color: black;
            }


        }
    }

    .section1 {
        padding: 1rem;
        padding-top: 0;
        width: 100%;
        max-width: 1920px;
        @include flex($direction: column);
        gap: 1rem;
        .top {
            width: 100%;
            border-radius: 0.7rem;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .bottom {
            border-radius: 0.7rem;
            background-color: #1E1E1E;
            @include flex(space-between, stretch,column);
            gap: 4.5rem;
            padding: 2.2rem;

            .top-content {
                font-family: roboto, sans-serif;
                font-size: 1rem;
                color: rgb(238, 228, 228);

            }
            .bottom-content {

                p:nth-child(1) {
                    line-height: 1.25;
                    text-transform: uppercase;
                    font-family: chillax, sans-serif;
                    font-size: 2.6rem;
                }
                p:nth-child(2) {
                    font-family: satoshi, sans-serif;
                    font-size: 1.6rem;
                    margin: 1rem 0rem;
                }

                i {
                    margin-right: 1rem;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 100;
                    width: 2.7rem;
                    height: 2.7rem;
                    border-radius: 50%;
                    border: 1px solid #404040;
                    background-color: #292929;
                    padding: 0.5rem;
                }

                .last-in-bottom-content {
                    span {
                        font-family: roboto, sans-serif;
                    }
                }
            }
        }
    }
}


@media (min-width: 480px) {
    #main nav .navright .getintouch {
        display: block;
    }

    #main .section1 .bottom .bottom-content p:nth-child(1) {
        font-size: 2.9rem;
    }
}
         
@media (min-width: 990px) {
    #main nav .navright .hide_below_990 {
        display: block;
    }

    #main nav .navright .hide_above_990 {
        display: none;
    }

    #main .section1{
        flex-direction: row;
        gap: 1rem;
        
        .top{
            width: 50%;
            margin: 0rem;
            img{
                height: 100%;
            }
        }
        .bottom{
            gap: 12.5rem;
            width: 50%;
            padding: 3.1rem;
        }
    }
}