@font-face {
    font-family: "satoshi";
    src: url(./fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: "chillax";
    src: url(./fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: "roboto";
    src: url(./fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

@mixin flex($justify: 'flex-start', $align: 'stretch', $direction: 'row') {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin icon() {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 1px solid #404040;
    background-color: #292929;
    padding: 0.5rem;

}

* {
    letter-spacing: 0.071rem;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #121212;
}

html {
    font-size: clamp(14px, 1.5vw, 18px);
}

#main {

    width: 100%;
    height: 100%;
    background-color: #121212;
    @include flex(start, center, column);

    nav {
        padding: 1rem;
        font-size: .9rem;
        width: 100%;
        @include flex(space-between, center);
        max-width: 1920px;

        .navleft img {
            width: 3.7rem;
        }

        .navright {
            display: flex;
            gap: 0.4rem;

            .hide_below_990 {
                display: none;
            }

            a {
                font-family: roboto, sans-serif;
                text-decoration: none;
                color: white;
                padding: 1rem 1.3rem;
                background-color: #2A2A2A;
                border-radius: .6rem;

                span:nth-child(2) {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: black;
                    width: 1rem;
                    height: 1rem;
                    background-color: #CEBD63;
                    border-radius: 50%;
                }
            }

            .getintouch {
                display: none;
                background-color: #CEBD63;
                color: black;
            }


        }
    }

    .section1 {
        padding: 1rem;
        padding-top: 0;
        width: 100%;
        max-width: 1920px;
        @include flex($direction: column);
        gap: 1rem;

        .top {
            width: 100%;
            border-radius: 0.7rem;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .bottom {
            border-radius: 0.7rem;
            background-color: #1E1E1E;
            @include flex(space-between, stretch, column);
            gap: 4.5rem;
            padding: 2.2rem;

            .top-content {
                font-family: roboto, sans-serif;
                font-size: 1rem;
                color: rgb(238, 228, 228);

            }

            .bottom-content {

                p:nth-child(1) {
                    line-height: 1.25;
                    text-transform: uppercase;
                    font-family: chillax, sans-serif;
                    font-size: 2.6rem;
                }

                p:nth-child(2) {
                    font-family: satoshi, sans-serif;
                    font-size: 1.6rem;
                    margin: 1rem 0rem;

                }

                i {
                    @include icon();
                }

                .last-in-bottom-content {
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;

                    span {
                        font-family: roboto, sans-serif;
                    }
                }
            }
        }
    }

    .section2 {
        @include flex(space-between, center, column);
        gap: 1rem;
        width: 100%;
        padding: 4rem 1rem;
        max-width: 1920px;

        p:nth-child(1) {
            font-family: roboto, sans-serif;
            font-size: 1rem;
            color: #91908D;
        }

        p:nth-child(2) {
            font-family: chillax, sans-serif;
            font-size: 2.6rem
        }

        .top,
        .bottom {
            width: 100%;
            @include flex(space-around, stretch, row);
            gap: 1.5rem;
        }

        .topleft,
        .topright,
        .bottomright,
        .bottomleft {
            @include flex(center, center, column);
            width: 7rem;
            text-align: center;
        }
    }

    .section3 {
        .bottom {
            .bottom-content {
                p:nth-child(2) {
                    font-size: 1.3rem;
                }
            }
        }
    }

    .section4 {
        padding-bottom: 0;

        .bottom {
            .bottom-content {
                p:nth-child(2) {
                    font-size: 1.3rem;
                }
            }
        }
    }

    .section5 {
        width: 100%;
        padding: 1rem 2.5rem;
        @include flex(space-between, center, row);
        max-width: 1920px;

        p {
            font-family: chillax, sans-serif;
            font-size: 2.3rem;
        }

        .find-job {
            display: none
        }

        i {
            @include icon();
        }

        span {
            font-family: roboto, sans-serif;
        }
    }

    .section6 {
        width: 100%;
        padding: 1rem;
        max-width: 1920px;

        .cards {
            @include flex(start, stretch, column);
            gap: 0.9rem;

            .card {
                aspect-ratio: 1/1;
                border-radius: 0.7rem;
                padding: 1rem;

                background-image: url(assets/card1.webp);
                background-size: cover;
                filter: contrast(.95) brightness(1.1);
                @include flex(space-between, stretch, column);

                .icon,
                .about {
                    @include flex(space-between, center, row);
                    background-color: rgba(46, 46, 46, 0.589);
                    backdrop-filter: blur(5px);
                    padding: 1rem;
                    border-radius: 0.3rem;

                    p:first-child {
                        width: 60%;
                        font-family: chillax, sans-serif;
                        font-size: 1.7rem;
                    }

                    p:nth-child(2) {
                        font-family: roboto, sans-serif;
                    }
                }

                .icon {
                    aspect-ratio: 1/1;
                    width: fit-content;
                    border-radius: 50%;

                }

                .icons {
                    @include flex(flex-end, stretch, row);
                    gap: 0.5rem;
                }



            }

            .card:nth-child(2) {
                background-image: url(assets/card2.avif);
                background-position: top;
            }

            .card:nth-child(3) {
                background-image: url(assets/card3.avif);
                background-position: center;
            }
        }
    }

    .section7 {
        width: 100%;
        padding: 1rem;
        max-width: 1920px;

        .box {
            background-color: #CEBD63;
            border-radius: 0.7rem;
            padding: 2.3rem;

            p:first-child {

                color: black;
                font-family: roboto, sans-serif;
            }

            p:nth-child(2) {
                max-width: 900px;
                line-height: 2.9rem;
                text-transform: uppercase;
                font-size: 2.9rem;
                color: black;
                font-family: chillax, sans-serif;
                margin: 1rem 0rem;
            }

            button {
                width: 100%;
                background-color: black;
                border: none;
                font-family: roboto, sans-serif;
                padding: 1rem 1.5rem;
                border-radius: 0.7rem;
            }
        }


    }

    footer {
        width: 100%;
        max-width: 1920px;
        padding: 1rem;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "left"
            "right-top"
            "right-bottom";
        gap: 1rem;

        .left {
            background-color: #1E1E1E;
            padding: 3.1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4rem;
            grid-area: left;
            border-radius: 0.7rem;

            img {
                width: fit-content;
                object-fit: cover;
            }

            .bottom {
                @include flex(flex-start, stretch, row);
                gap: 0.5rem;

                .icon {
                    font-size: 1rem;
                    @include flex(space-between, center, row);
                    background-color: rgba(46, 46, 46, 0.589);
                    border: 0.5px solid rgba(128, 128, 128, 0.368);
                    backdrop-filter: blur(5px);
                    padding: 0.9rem;
                    border-radius: 0.3rem;
                    width: fit-content;
                    border-radius: 50%;

                }


            }

        }

        .right-top {
            padding: 2rem;
            @include flex(space-between, start, column);
            gap: 3rem;
            font-family: roboto, sans-serif;
            background-color: #1E1E1E;
            grid-area: right-top;
            border-radius: 0.7rem;

            li:nth-child(1) {
                font-family: chillax, sans-serif;
                color: white;
                font-size: 1.4rem;
            }

            li {
                color: #91908D;
                list-style-type: none;
            }

            .first,
            .second,
            .third {
                @include flex(start, start, column);
                gap: 1.8rem;

                ul {
                    @include flex(start, start, column);
                    gap: 1.8rem;

                }

                button {
                    padding: 1rem 1.4rem;
                    background-color: #CEBD63;
                    color: black;
                    border: none;
                    border-radius: 0.6rem;
                }
            }




        }

        .right-bottom {

            @include flex(space-between, center, column);
            gap: 1.3rem;
            padding: 1.8rem;
            font-family: roboto, sans-serif;
            background-color: #1E1E1E;
            grid-area: right-bottom;
            border-radius: 0.7rem;

            .top {

                text-align: center;

                .copyright {
                    line-height: 1.6rem;

                    color: #91908D;

                    a {
                        color: white;
                    }
                }
            }

            .bottom {

                i {
                    @include icon();

                }
            }
        }
    }


}


@media (min-width: 480px) {
    #main nav .navright .getintouch {
        display: block;
    }

    #main .section1 .bottom .bottom-content p:nth-child(1) {
        font-size: 2.9rem;
    }

    #main footer .left {
        gap: 7rem;
    }

    #main footer .right-top {
        flex-direction: row;

        flex-wrap: wrap;

        .first,
        .second {
            width: 42%;
            flex-grow: 1;
        }

        .third {
            width: calc(50% - 1.5rem);
        }
    }

}

@media (min-width: 765px) {
    #main .section6 .cards {
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            width: 49%;
        }

        .card:nth-child(3) {
            width: calc(50% - 0.45rem);
        }


        .card:nth-child(1),
        .card:nth-child(2) {
            flex-grow: 1;
        }
    }

    #main .section5 .find-job {
        display: block;
    }

    #main footer .left {
        gap: 9rem;
    }

    #main footer .right-top {

        .first,
        .second,
        .third {
            width: 20%;
            flex-grow: 1;
        }

    }

    #main footer .right-bottom {
        flex-direction: row;
    }

}

@media (min-width: 990px) {
    #main nav .navright .hide_below_990 {
        display: block;
    }

    #main nav .navright .hide_above_990 {
        display: none;
    }

    #main .section1 {
        flex-direction: row;
        gap: 1rem;

        .top {
            width: 50%;
            margin: 0rem;

            img {
                height: 100%;
            }
        }

        .bottom {
            gap: 12.5rem;
            width: 50%;
            padding: 3.1rem;
        }
    }

    #main .section2 {
        flex-direction: row;
        gap: 0;
    }

    #main .section3 {
        flex-direction: row-reverse;
    }

    #main .section3 .bottom .bottom-content p:first-child {
        font-size: 2.3rem;

    }

    #main .section3 .bottom .bottom-content p:nth-child(2) {
        column-count: 2;
        line-height: 1.3;
    }

    #main .section4 .bottom .bottom-content p:first-child {
        font-size: 2.3rem;

    }

    #main .section4 .bottom .bottom-content p:nth-child(2) {
        column-count: 2;
        line-height: 1.3;
    }


    #main .section6 .cards {
        flex-wrap: nowrap;

    }

    #main .section7 .box {
        @include flex(space-between, flex-end, row);
        gap: 4rem;


        .left {
            display: flex;
            flex-direction: column;
            gap: 2rem;


            p:nth-child(2) {
                font-size: 3.6rem;
                margin: 0;
                line-height: 1.07;
            }

        }

        .right {
            white-space: nowrap;
        }
    }

    #main footer {
        grid-template-rows: auto;
        grid-template-columns: 25% 1fr;
        grid-template-areas: "left right-top"
            "left right-bottom"
        ;

        .left,
        .bottom {
            flex-wrap: wrap;
        }
    }

}